@page "/members/upload/create"
@rendermode InteractiveServer

<PageTitle>Create Course</PageTitle>

<MudText Typo="Typo.h4">Create Course</MudText>

<MudForm @ref="_form" @bind-IsValid="@_isValid" @bind-Errors="@_errors" Class="gap-4">
  <MudSelect @bind-Value="@_country" Label="Text Language" Variant="Variant.Outlined">
    <MudSelectItem Value="@("German")">
      <img src="assets/flags/Flag_of_Germany.svg" height="14" class="mr-1" /> German
    </MudSelectItem>
    <MudSelectItem Value="@("Kyrgyz")">
      <img src="assets/flags/Flag_of_Kyrgyzstan.svg" height="14" class="mr-1" /> Kyrgyz
    </MudSelectItem>
    <MudSelectItem Value="@("English")">
      <img src="assets/flags/Flag_of_the_United_Kingdom.svg" height="14" class="mr-1" /> English
    </MudSelectItem>
  </MudSelect>
  <MudTextField T="string" Label="Text" Lines="15" Required="true" RequiredError="Input text is required!" />

  <div class="d-flex align-center justify-space-between">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_isValid)" Class="mt-4 ml-auto">Create</MudButton>
  </div>
</MudForm>

@code {
  bool _isValid;
  string[] _errors = { };
  MudTextField<string> pwField1;
  MudForm? _form;
  string _country = "Germany";


}
