@page "/members/upload/create"
@rendermode InteractiveServer

<PageTitle>Create Course</PageTitle>

<MudText Typo="Typo.h4">Create Course</MudText>

<MudForm @ref="_form" @bind-IsValid="@_isValid" @bind-Errors="@_errors" Class="gap-4">
  <div class="d-flex flex-grow-1 gap-4">
    <LanguageSelect SelectedValue="@_sourceLang"></LanguageSelect>
    <LanguageSelect SelectedValue="@_sourceLang"></LanguageSelect>
  </div>

  <div class="d-flex align-center justify-space-between">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_isValid)" Class="mt-4 ml-auto">Create</MudButton>
  </div>
</MudForm>

@code {
  bool _isValid;
  string[] _errors = { };
  MudForm? _form;
  string _sourceLang = "German";
  string _targetLang = "Hebrew";
}
